NodeRed-MobileNet-11111111Project/flow/flows.json
[
    {
        "id": "bba58e6de4abe1a5",
        "type": "tab",
        "label": "irrigation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "52ad5729f8bdfa9d",
        "type": "group",
        "z": "bba58e6de4abe1a5",
        "name": "corps",
        "style": {
            "label": true
        },
        "nodes": [
            "3553db5d789908f4",
            "38905fc2c512e8ee",
            "2eb86a0cac807e1e",
            "b04a63a01828f932",
            "df4da11e370ee2c2",
            "ea865dce99e738cf",
            "a2c544e185e48790",
            "3bed5f49f08e48ad",
            "454420ae0eeb4f37",
            "0a7736e7a45bd93c"
        ],
        "x": 34,
        "y": 99,
        "w": 712,
        "h": 422
    },
    {
        "id": "3553db5d789908f4",
        "type": "mqtt in",
        "z": "bba58e6de4abe1a5",
        "g": "52ad5729f8bdfa9d",
        "name": "",
        "topic": "capteurs",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "97b50b75b74f3c4e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "38905fc2c512e8ee",
                "2eb86a0cac807e1e",
                "b04a63a01828f932",
                "95a2d2a7e1c082a9",
                "17bf6cd7b9d02e13"
            ]
        ]
    },
    {
        "id": "38905fc2c512e8ee",
        "type": "function",
        "z": "bba58e6de4abe1a5",
        "g": "52ad5729f8bdfa9d",
        "name": "get temperature",
        "func": "// msg.payload est un objet, on accède directement à la propriété temperature\nmsg.payload = msg.payload.temperature;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "df4da11e370ee2c2",
                "a2c544e185e48790"
            ]
        ]
    },
    {
        "id": "2eb86a0cac807e1e",
        "type": "function",
        "z": "bba58e6de4abe1a5",
        "g": "52ad5729f8bdfa9d",
        "name": "get humidity",
        "func": "// msg.payload est un objet, on accède directement à la propriété temperature\nmsg.payload = msg.payload.humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "ea865dce99e738cf",
                "3bed5f49f08e48ad"
            ]
        ]
    },
    {
        "id": "b04a63a01828f932",
        "type": "function",
        "z": "bba58e6de4abe1a5",
        "g": "52ad5729f8bdfa9d",
        "name": "get lumiere",
        "func": "// msg.payload est un objet, on accède directement à la propriété temperature\nmsg.payload = msg.payload.lumiere;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 420,
        "wires": [
            [
                "454420ae0eeb4f37",
                "0a7736e7a45bd93c"
            ]
        ]
    },
    {
        "id": "df4da11e370ee2c2",
        "type": "ui_gauge",
        "z": "bba58e6de4abe1a5",
        "g": "52ad5729f8bdfa9d",
        "name": "",
        "group": "5b9aafff17ba19f7",
        "order": 1,
        "width": 6,
        "height": 7,
        "gtype": "gage",
        "title": "🌡 Température",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6a800",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "ea865dce99e738cf",
        "type": "ui_gauge",
        "z": "bba58e6de4abe1a5",
        "g": "52ad5729f8bdfa9d",
        "name": "",
        "group": "d2240717d189552a",
        "order": 1,
        "width": 6,
        "height": 7,
        "gtype": "gage",
        "title": "💧 Humidité",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#6d9cc0",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 260,
        "wires": []
    },
    {
        "id": "a2c544e185e48790",
        "type": "debug",
        "z": "bba58e6de4abe1a5",
        "g": "52ad5729f8bdfa9d",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "3bed5f49f08e48ad",
        "type": "debug",
        "z": "bba58e6de4abe1a5",
        "g": "52ad5729f8bdfa9d",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "454420ae0eeb4f37",
        "type": "ui_gauge",
        "z": "bba58e6de4abe1a5",
        "g": "52ad5729f8bdfa9d",
        "name": "",
        "group": "e4ae0f36781d617a",
        "order": 1,
        "width": 6,
        "height": 7,
        "gtype": "gage",
        "title": "☀️ Lumière",
        "label": "LUX",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#abd4ab",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 400,
        "wires": []
    },
    {
        "id": "0a7736e7a45bd93c",
        "type": "debug",
        "z": "bba58e6de4abe1a5",
        "g": "52ad5729f8bdfa9d",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 480,
        "wires": []
    },
    {
        "id": "95a2d2a7e1c082a9",
        "type": "debug",
        "z": "bba58e6de4abe1a5",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 220,
        "y": 480,
        "wires": []
    },
    {
        "id": "fa0ab5c07a9a2cf1",
        "type": "ui_button",
        "z": "bba58e6de4abe1a5",
        "name": "",
        "group": "5b9aafff17ba19f7",
        "order": 4,
        "width": 4,
        "height": 2,
        "passthru": false,
        "label": "Analyser la plante",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "analyse/start",
        "topicType": "msg",
        "x": 610,
        "y": 40,
        "wires": [
            [
                "47abf8476e1e2d25",
                "b7dc4b136a20e5a0"
            ]
        ]
    },
    {
        "id": "47abf8476e1e2d25",
        "type": "exec",
        "z": "bba58e6de4abe1a5",
        "command": "python \"C:\\Users\\Lenovo\\Desktop\\stage labo hana\\scriptai.py\"",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 990,
        "y": 60,
        "wires": [
            [
                "b480249e130375a0"
            ],
            [
                "2bf09beae630df09"
            ],
            [
                "1d75745c473d6a89"
            ]
        ]
    },
    {
        "id": "b7dc4b136a20e5a0",
        "type": "debug",
        "z": "bba58e6de4abe1a5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 20,
        "wires": []
    },
    {
        "id": "b480249e130375a0",
        "type": "debug",
        "z": "bba58e6de4abe1a5",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 180,
        "wires": []
    },
    {
        "id": "2bf09beae630df09",
        "type": "debug",
        "z": "bba58e6de4abe1a5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 300,
        "wires": []
    },
    {
        "id": "1d75745c473d6a89",
        "type": "debug",
        "z": "bba58e6de4abe1a5",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 400,
        "wires": []
    },
    {
        "id": "908571b371de39f2",
        "type": "mqtt in",
        "z": "bba58e6de4abe1a5",
        "name": "État de la plante",
        "topic": "etat",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8bd1b396d4523245",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 620,
        "wires": [
            [
                "1b5f6b8a68c49bef",
                "a3c03d8aacd1e75c",
                "b5ac7ff40291e03a"
            ]
        ]
    },
    {
        "id": "1b5f6b8a68c49bef",
        "type": "ui_text",
        "z": "bba58e6de4abe1a5",
        "group": "d2240717d189552a",
        "order": 4,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "État",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 390,
        "y": 620,
        "wires": []
    },
    {
        "id": "a3c03d8aacd1e75c",
        "type": "debug",
        "z": "bba58e6de4abe1a5",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 720,
        "wires": []
    },
    {
        "id": "1ca3688288fa84f4",
        "type": "join",
        "z": "bba58e6de4abe1a5",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 660,
        "y": 660,
        "wires": [
            [
                "4e3325b09824fa41",
                "37ae80b26a2cf291"
            ]
        ]
    },
    {
        "id": "4e3325b09824fa41",
        "type": "function",
        "z": "bba58e6de4abe1a5",
        "name": "Logique irrigation",
        "func": "let hum = msg.payload.capteurs.humidity;\nlet etat = msg.payload.etat;\n\nlet irrigation = \"OFF\";\n\nif (hum < 30 || etat.includes(\"Feuille malade\")) {\n    irrigation = \"ON\";\n}\n\nmsg.payload = irrigation;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 680,
        "wires": [
            [
                "9a92d3e5d3c801bd",
                "135477be6b3fc530"
            ]
        ]
    },
    {
        "id": "9a92d3e5d3c801bd",
        "type": "ui_text",
        "z": "bba58e6de4abe1a5",
        "group": "e4ae0f36781d617a",
        "order": 4,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "État irrigation",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1170,
        "y": 680,
        "wires": []
    },
    {
        "id": "37ae80b26a2cf291",
        "type": "debug",
        "z": "bba58e6de4abe1a5",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 780,
        "wires": []
    },
    {
        "id": "17bf6cd7b9d02e13",
        "type": "change",
        "z": "bba58e6de4abe1a5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "capteurs",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 560,
        "wires": [
            [
                "1ca3688288fa84f4"
            ]
        ]
    },
    {
        "id": "b5ac7ff40291e03a",
        "type": "change",
        "z": "bba58e6de4abe1a5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "etat",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 800,
        "wires": [
            [
                "1ca3688288fa84f4"
            ]
        ]
    },
    {
        "id": "135477be6b3fc530",
        "type": "debug",
        "z": "bba58e6de4abe1a5",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 780,
        "wires": []
    },
    {
        "id": "de23bcb6691dc1f3",
        "type": "ui_template",
        "z": "bba58e6de4abe1a5",
        "group": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* Barre du haut - titre du dashboard */\n    .md-toolbar-tools {\n        background: linear-gradient(90deg, #004080, #00aaff) !important;\n        color: white !important;\n        font-weight: bold;\n        font-size: 24px;\n        letter-spacing: 1.5px;\n        text-transform: uppercase;\n        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);\n        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n        justify-content: center;\n    }\n\n    /* Effet de brillance */\n    .md-toolbar-tools::after {\n        content: \"\";\n        position: absolute;\n        top: 0;\n        left: -75%;\n        width: 50%;\n        height: 100%;\n        background: linear-gradient(120deg,\n                rgba(255, 255, 255, 0.2) 0%,\n                rgba(255, 255, 255, 0.6) 50%,\n                rgba(255, 255, 255, 0.2) 100%);\n        transform: skewX(-25deg);\n        animation: shine 4s infinite;\n    }\n\n    @keyframes shine {\n        0% {\n            left: -75%;\n        }\n\n        100% {\n            left: 125%;\n        }\n    }\n\n    /* Ombre sous la barre */\n    .md-toolbar {\n        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3) !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 880,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e16488db3cb2feb4",
        "type": "ui_template",
        "z": "bba58e6de4abe1a5",
        "group": "",
        "name": "",
        "order": 2,
        "width": 1,
        "height": 1,
        "format": "<style>\n    /* cartes arrondies + ombre */\n    .nr-dashboard-theme md-card {\n        border-radius: 12px !important;\n        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08) !important;\n        overflow: hidden;\n    }\n\n    /* intérieur des cartes : padding */\n    .nr-dashboard-theme md-card .nr-dashboard-template {\n        padding: 12px 16px !important;\n    }\n\n    /* titre des widgets */\n    .nr-dashboard-theme .nr-dashboard-template .nr-dashboard-widget-title {\n        font-weight: 700;\n        font-size: 1.05em;\n        margin-bottom: 6px;\n    }\n\n    /* valeur centrale (grande) */\n    .nr-dashboard-theme .nr-dashboard-gauge .gauge-value,\n    .nr-dashboard-theme .nr-dashboard-text .nr-value,\n    .nr-dashboard-theme .nr-dashboard-text .nr-unit {\n        font-size: 26px !important;\n        font-weight: 700;\n        text-align: center;\n    }\n\n    /* bouton analyser custom (si tu donnes la classe my-analyze-btn au button) */\n    .my-analyze-btn md-button {\n        width: 100% !important;\n        border-radius: 8px !important;\n        height: 44px !important;\n        font-weight: 700;\n        text-transform: uppercase;\n        letter-spacing: 0.6px;\n        background: linear-gradient(90deg, #0b8f6e, #00bfa5) !important;\n        color: white !important;\n        box-shadow: 0 4px 10px rgba(11, 143, 110, 0.18) !important;\n    }\n\n    /* petites icônes centrées */\n    .nr-dashboard-theme .nr-dashboard-template .material-icons {\n        vertical-align: middle;\n        font-size: 28px;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 880,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c53604b27e2a73ce",
        "type": "ui_template",
        "z": "bba58e6de4abe1a5",
        "group": "5b9aafff17ba19f7",
        "name": "",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* Cible les barres de titre des groupes */\n    .nr-dashboard-theme .nr-dashboard-cardtitle,\n    .nr-dashboard-group .nr-dashboard-cardtitle {\n        font-family: 'Segoe UI', sans-serif;\n        font-size: 18px !important;\n        font-weight: bold;\n        background-color: #f0f4f8;\n        color: #0078D7 !important;\n        text-align: center;\n        padding: 6px;\n        border-radius: 6px;\n    }\n\n    /* Cibler un groupe spécifique par ID */\n    #nr-dashboard-group-1 .nr-dashboard-cardtitle {\n        background-color: #FFD54F !important;\n        color: #000 !important;\n    }\n\n    #nr-dashboard-group-2 .nr-dashboard-cardtitle {\n        background-color: #4FC3F7 !important;\n        color: white !important;\n    }\n\n    #nr-dashboard-group-3 .nr-dashboard-cardtitle {\n        background-color: #A5D6A7 !important;\n        color: #333 !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 900,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f0db7d6a350b3278",
        "type": "ui_template",
        "z": "bba58e6de4abe1a5",
        "group": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* Style pour le texte d'état */\n    .status-label {\n        display: inline-block;\n        padding: 10px 16px;\n        border-radius: 12px;\n        font-weight: bold;\n        font-size: 16px;\n        color: white;\n        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);\n    }\n\n    /* État : Feuille saine */\n    .status-healthy {\n        background: linear-gradient(90deg, #43a047, #66bb6a);\n    }\n\n    /* État irrigation : ON */\n    .status-irrigation-on {\n        background: linear-gradient(90deg, #0277bd, #29b6f6);\n    }\n\n    /* Bouton stylisé */\n    .md-button {\n        background: linear-gradient(90deg, #ff9800, #ffb74d) !important;\n        color: white !important;\n        font-weight: bold;\n        font-size: 16px;\n        border-radius: 30px;\n        padding: 10px 20px !important;\n        text-transform: uppercase;\n        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);\n        transition: transform 0.2s ease, box-shadow 0.2s ease;\n    }\n\n    .md-button:hover {\n        transform: translateY(-2px);\n        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 840,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "2db4525d5343ab3e",
        "type": "ui_spacer",
        "z": "bba58e6de4abe1a5",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 3,
        "height": 1
    },
    {
        "id": "1a6c33f7c0a864fa",
        "type": "ui_spacer",
        "z": "bba58e6de4abe1a5",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "2cc342de3d4e0b5d",
        "type": "ui_spacer",
        "z": "bba58e6de4abe1a5",
        "name": "spacer",
        "group": "5b9aafff17ba19f7",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "c8652f3f0cf46751",
        "type": "ui_spacer",
        "z": "bba58e6de4abe1a5",
        "name": "spacer",
        "group": "5b9aafff17ba19f7",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "8223051f642c5093",
        "type": "ui_spacer",
        "z": "bba58e6de4abe1a5",
        "name": "spacer",
        "group": "5b9aafff17ba19f7",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "af8d45f7adab2926",
        "type": "ui_spacer",
        "z": "bba58e6de4abe1a5",
        "name": "spacer",
        "group": "5b9aafff17ba19f7",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "10322d4c2eeac1cd",
        "type": "ui_spacer",
        "z": "bba58e6de4abe1a5",
        "name": "spacer",
        "group": "5b9aafff17ba19f7",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "5a32b6ac3ed3ecd3",
        "type": "ui_spacer",
        "z": "bba58e6de4abe1a5",
        "name": "spacer",
        "group": "d2240717d189552a",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "8f6649157746697c",
        "type": "ui_spacer",
        "z": "bba58e6de4abe1a5",
        "name": "spacer",
        "group": "d2240717d189552a",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "c7bf6d4f02eceded",
        "type": "ui_spacer",
        "z": "bba58e6de4abe1a5",
        "name": "spacer",
        "group": "d2240717d189552a",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "76b38171dde0aaf5",
        "type": "ui_spacer",
        "z": "bba58e6de4abe1a5",
        "name": "spacer",
        "group": "d2240717d189552a",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "7c0ae6d152c9534f",
        "type": "ui_spacer",
        "z": "bba58e6de4abe1a5",
        "name": "spacer",
        "group": "d2240717d189552a",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "6626bf45db9d3661",
        "type": "ui_spacer",
        "z": "bba58e6de4abe1a5",
        "name": "spacer",
        "group": "e4ae0f36781d617a",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "2cfb137b90e789d0",
        "type": "ui_spacer",
        "z": "bba58e6de4abe1a5",
        "name": "spacer",
        "group": "e4ae0f36781d617a",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "f9ace4267f58fddd",
        "type": "ui_spacer",
        "z": "bba58e6de4abe1a5",
        "name": "spacer",
        "group": "e4ae0f36781d617a",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "7c2e720344e73775",
        "type": "ui_spacer",
        "z": "bba58e6de4abe1a5",
        "name": "spacer",
        "group": "e4ae0f36781d617a",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "63e2788790489fd2",
        "type": "ui_spacer",
        "z": "bba58e6de4abe1a5",
        "name": "spacer",
        "group": "e4ae0f36781d617a",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "97b50b75b74f3c4e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "tcp://broker.hivemq.com:1883",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5b9aafff17ba19f7",
        "type": "ui_group",
        "name": "Controle de température",
        "tab": "ebe3eb5aebb12d94",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d2240717d189552a",
        "type": "ui_group",
        "name": "Controle d'humidité",
        "tab": "ebe3eb5aebb12d94",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e4ae0f36781d617a",
        "type": "ui_group",
        "name": "Controle de lumière",
        "tab": "ebe3eb5aebb12d94",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8bd1b396d4523245",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ebe3eb5aebb12d94",
        "type": "ui_tab",
        "name": "🌱 Système Intelligent d’Irrigation",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]